@media screen and (min-width: 640px) {
  .sm-16 {
    width: 16.66%;
  }
  .sm-20 {
    width: 20%;
  }
  .sm-25 {
    width: 25%;
  }
  .sm-33 {
    width: 33.33%;
  }
  .sm-50 {
    width: 50%;
  }
  .sm-100 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .md-16 {
    width: 16.66%;
  }
  .md-20 {
    width: 20%;
  }
  .md-25 {
    width: 25%;
  }
  .md-30 {
    width: 30%;
  }
  .md-33 {
    width: 33.33%;
  }
  .md-50 {
    width: 50%;
  }
  .md-70 {
    width: 70%;
  }
  .md-75 {
    width: 75%;
  }
  .md-80 {
    width: 80%;
  }
  .md-100 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .lg-16 {
    width: 16.66%;
  }
  .lg-20 {
    width: 20%;
  }
  .lg-25 {
    width: 25%;
  }
  .lg-30 {
    width: 30%;
  }
  .lg-33 {
    width: 33.33%;
  }
  .lg-35 {
    width: 35%;
  }
  .lg-48 {
    width: 48%;
  }
  .lg-50 {
    width: 50%;
  }
  .lg-100 {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .xl-16 {
    width: 16.66%;
  }
  .xl-20 {
    width: 20%;
  }
  .xl-25 {
    width: 25%;
  }
  .xl-32 {
    width: 32%;
  }
  .xl-33 {
    width: 33.33%;
  }
  .xl-50 {
    width: 50%;
  }
  .xl-100 {
    width: 100%;
  }
}
@media screen and (min-width: 1536px) {
  .xxl-16 {
    width: 16.66%;
  }
  .xxl-20 {
    width: 20%;
  }
  .xxl-25 {
    width: 25%;
  }
  .xxl-33 {
    width: 33.33%;
  }
  .xxl-50 {
    width: 50%;
  }
  .xxl-100 {
    width: 100%;
  }
}
